<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yu.fusionbase.web.user.mapper.AlbumShareMapper">

    <select id="selectByAlbumAndUser"
            resultType="com.yu.fusionbase.model.entity.AlbumShare">
        SELECT * FROM album_share
        WHERE album_id = #{albumId}
          AND shared_user_id = #{userId}
          AND (expires_at IS NULL OR expires_at > NOW())
    </select>

</mapper>